# Exploring the Alzheimer's prediction dataset from [kaggle](https://www.kaggle.com/datasets/ankushpanday1/alzheimers-prediction-dataset-global)

### Loading the Dataset

In [ ]:
import pandas as pd

alzheimers = pd.read_csv("data/alzheimers.csv")

### Summary Statistics

In [4]:
display(alzheimers.describe().style.set_caption("Numerical Columns"))
display(alzheimers.select_dtypes(include="object").describe().style.set_caption("Categorical Columns"))
display(alzheimers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74283 entries, 0 to 74282
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Country                               74283 non-null  object
 1   Age                                   74283 non-null  int64
 2   Gender                                74283 non-null  object
 3   Education Level                       74283 non-null  int64
 4   BMI                                   74283 non-null  float64
 5   Physical Activity Level               74283 non-null  object
 6   Smoking Status                        74283 non-null  object
 7   Alcohol Consumption                   74283 non-null  object
 8   Diabetes                              74283 non-null  object
 9   Hypertension                          74283 non-null  object
 10  Cholesterol Level                     74283 non-null  object
 11  Family History of Alzheimer’s         74283 non-null  object
 12  Cognitive Test Score                  74283 non-null  int64
 13  Depression Level                      74283 non-null  object
 14  Sleep Quality                         74283 non-null  object
 15  Dietary Habits                        74283 non-null  object
 16  Air Pollution Exposure                74283 non-null  object
 17  Employment Status                     74283 non-null  object
 18  Marital Status                        74283 non-null  object
 19  Genetic Risk Factor (APOE-ε4 allele)  74283 non-null  object
 20  Social Engagement Level               74283 non-null  object
 21  Income Level                          74283 non-null  object
 22  Stress Levels                         74283 non-null  object
 23  Urban vs Rural Living                 74283 non-null  object
 24  Alzheimer’s Diagnosis                 74283 non-null  object
dtypes: float64(1), int64(3), object(21)
memory usage: 14.2+ MB

None

This dataset appears to be very clean.
- No missing values, the row counts for each attribute remain consistent for all.
- Data types appear as expected.
- Frequency counts for categorical variables show a good distribution for each.

### Univariate Analysis (TODO)

# Preprocessing and Feature Engineering

In [ ]:
# Standardization of numerical features
from sklearn.preprocessing import StandardScaler

def standardize_numerical_columns(data: pd.DataFrame) -> pd.DataFrame:
    numerical_columns = data.select_dtypes(include = "number")
    data[numerical_columns.columns] = StandardScaler().fit_transform(numerical_columns)
    return data

alz_standardized = standardize_numerical_columns(alzheimers)
display(alzheimers.describe().style.set_caption("Numerical Columns"))

In [ ]:
# TODO Preprocess the categorial columns:
# Potentially: Ordinal encode the "ordered" attributes EX: Depression Level -> {'Low': 0, 'Medium': 1, 'High': 2}
# Label encode the nominal binary stuff EX: Gender -> {'Male': 0, 'Female': 1}
# One hot encode / frequency encode / target encode for other nominal attributes
# Balance our target variable. Currently using stratified k-fold to compensate

# Modeling

### CV strategy functions

Currently only using basic train test split validation. TODO: implement more comprehensive k-fold strategies, such as stratified k-fold.

In [9]:
from sklearn.model_selection import train_test_split
import numpy as np

def basic_tt_split_validation(X, y, model, train_size = 0.80):
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = train_size)
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    accuracy = np.sum(predictions == y_test) / predictions.__len__()
    return accuracy

### Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestClassifier
import time

start_time = time.perf_counter()

rf_classifier = RandomForestClassifier()

# Currently just using numerical values
numerical_data = alz_standardized[alz_standardized.select_dtypes(include='number').columns]
target = alz_standardized['Alzheimer’s Diagnosis']
accuracy = basic_tt_split_validation(numerical_data, target, rf_classifier)

end_time = time.perf_counter()

print("Accuracy of RF model:", accuracy)
print("Time taken:", end_time - start_time, "(s)")

Accuracy of RF model: 0.6821700208655852
Time taken: 12.682744299992919 (s)